{
    auto_https off
}

:80 {
    # Redirect bare domain to www
    @bare host iiinbox.com
    handle @bare {
        redir https://www.iiinbox.com{uri} permanent
    }

    @www host www.iiinbox.com
    handle @www {
        reverse_proxy host.docker.internal:3000
    }

    @api host api.iiinbox.com
    handle @api {
        reverse_proxy api:4000
    }

    @cdn host cdn.iiinbox.com
    handle @cdn {
        reverse_proxy minio:9000
    }

    @adminsite host admin.iiinbox.com
    handle @adminsite {
        reverse_proxy host.docker.internal:3000
    }

    handle {
        respond "not found" 404
    }
}
